mat-toolbar {
  height: 80px;
  background-color: bisque;
  box-shadow: 0px 3px 6px 0px;
  display: flex;
  justify-content: center;
  color: white;

  .header-title {
    display: flex;
    align-items: center;
    justify-content: center;
    h1 {
      font-size: 20px;
    }
  }
  .header-currency {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    .currency {
      display: flex;
      min-width: 400px;
      .euro-currency {
        margin-right: 15px;
      }
    }
    img {
      width: 30px;
      margin-right: 6px;
      display: flex;
    }
  }
}
