<div class="container-converter">
  <h2>Currency Exchange</h2>
  <form *ngIf="currencyForm" [formGroup]="currencyForm" class="form-currency">
    <ng-template
      #defaultFiled
      let-firstControlName="firstControlName"
      let-secondControlName="secondControlName"
    >
      <mat-form-field class="currency-full-width" appearance="outline">
        <mat-label>Input amount</mat-label>
        <input
          formControlName="{{ firstControlName }}"
          (input)="directConversion()"
          matInput
          type="number"
          min="0.01"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Choose a currency</mat-label>
        <mat-select
          (selectionChange)="directConversion()"
          formControlName="{{ secondControlName }}"
        >
          <mat-option [value]="option" *ngFor="let option of currencyList">{{
            option
          }}</mat-option>
        </mat-select>
      </mat-form-field></ng-template
    >
    <ng-container
      *ngTemplateOutlet="
        defaultFiled;
        context: {
          firstControlName: 'firstInput',
          secondControlName: 'firstSelect'
        }
      "
    ></ng-container>

    <button
      (click)="inverseCurrency()"
      class="mat-button"
      mat-button
      color="primary"
    >
      <mat-icon>swap_horizontal</mat-icon>
    </button>
    <ng-container
      *ngTemplateOutlet="
        defaultFiled;
        context: {
          firstControlName: 'secondInput',
          secondControlName: 'secondSelect'
        }
      "
    ></ng-container>
  </form>
</div>
